<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - HunterCV</title>
    @*<meta name="description" content="HunterCV Resume Management System">
    <meta name="author" content="">*@
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/css")

    <!--[if lt IE 9]>
		<link rel="stylesheet" href="@Url.Content("~/Content/ie/ie8.css")" media="screen" />
	<![endif]-->
	
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
	<!-- Favicons
	================================================== -->
	<link rel="apple-touch-icon" href="@Url.Content("~/images/apple-touch-icon.png")">
	<link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/images/apple-touch-icon-72x72.png")">
	<link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/images/apple-touch-icon-114x114.png")">
	
	
	<!-- For Old Browsers
	================================================== -->
	<!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
	<![endif]-->

</head>
<body class="page home-page">

	<!-- Primary Page Layout
	================================================== -->
	
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
			
			<!-- BEGIN HEADER -->
			<header id="header">
				
				<!--Top Header-->
				<div id="top-header">
					<div class="container">
						<div class="grid_12">
							@Html.Partial("_LoginPartial")
						</div>
					</div>
				</div>
				
				<!--Main Header-->
				<div id="main-header">
					<div class="container">
						<div class="grid_12">
						
							<!-- BEGIN LOGO -->
							<div id="logo">
								<!-- Image based Logo-->
								<a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/logo.png")" alt=""/></a>
								
								
								<!-- Text based Logo
								<h1><a href="index.html"><span>Hunter</span>CV</a></h1>
								<p class="tagline">optimize head-hunting</p>
								-->
								
							</div>
							<!-- END LOGO -->
							
							<!-- BEGIN NAVIGATION -->
							<nav class="primary">
                                
                                @RenderSection("navigation", required: true)

							</nav>
							<!-- END NAVIGATION -->
							
						</div>
					</div>
				</div>
				
			</header>
			<!-- END HEADER -->

            @RenderSection("slider", required: false)

            @RenderBody()			
			
			<!-- BEGIN FOOTER -->
			<footer id="footer">
				<div class="container">
					<div class="grid_12">
						<small>&copy;2012 OptinaSales. All rights reserved.</small><a href="#">Privacy Policy</a> &nbsp; <a href="#">Security information</a>
					</div>
				</div>
			</footer>
			<!-- END FOOTER -->
			
		
	</div>
	<!-- END WRAPPER -->

    <!-- BEGIN MODAL WINDOWS -->
	
    @Html.Partial("_SignInPopupPartial", new HunterCV.FrontSite.Models.LoginModel() )
    @Html.Partial("_SignUpPopupPartial", new HunterCV.FrontSite.Models.RegisterModel() )
    @Html.Partial("_AddUserPopupPartial", new HunterCV.FrontSite.Models.AddUserModel() )
    @Html.Partial("_RemoveUserPopupPartial", new HunterCV.FrontSite.Models.RemoveUserModel() )

	<!-- END MODAL WINDOWS -->

    	<!-- initialize jQuery Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>	    window.jQuery || document.write('<script src="js/jquery-1.8.2.min.js"><\/script>')</script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-plugins")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
	
	
</body>
</html>