@model HunterCV.FrontSite.Models.LoginModel
<div id="signin" class="reveal-modal">
    <header class="reveal-modal-header">
			Sign in
		</header>
    <div class="cont">
        @using (Html.BeginForm("Login", "Account",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "signin" }))
        {
            @Html.AntiForgeryToken()
            <p class="clearfix">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
@*                @Html.ValidationMessageFor(m => m.UserName)
*@            </p>
            <p class="clearfix">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
@*                @Html.ValidationMessageFor(m => m.Password)
*@            </p>
            <p class="checkboxes without-label clearfix">
                <span class="niceCheck">
                    <input type="checkbox" name="ch1" /></span> Remember me <a href="#">Forgot password?</a>
            </p>
            <p class="without-label clearfix">
                <input type="submit" value="" /></p>
        }
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
