@model HunterCV.FrontSite.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<!-- BEGIN CONTENT HOLDER -->
<div id="content-wrapper">
    <section class="indent">
        <div class="container">
            <section id="loginForm">
                <h2>
                    Use a local account to log in.</h2>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "contact-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.CustomValidationSummary("")

                    <div class="clearfix">
                        <div class="grid_3 alpha">
                            <div class="field clearfix">
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter Your Username" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <div class="field clearfix">
                            </div>
                            <div class="field clearfix">
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Enter Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="field clearfix">
                                <div class="field clearfix">
                                    <span class="checkbox" style="background-position: 0px -36px;">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkboxclass", data_init = "0", data_height = "18" })
                                    </span>
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Log in" />
                    <p>
                        @Html.ActionLink("Register", "Register") if you don't have an account.
                    </p>
                }
            </section>
        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
